<!-- Build table, detail view, header, edit/new forms -->

          <div class="table-responsive">
            <table class="table table-dark table-striped table-borderless table-hover nomargbottom">
              <thead>
                <tr class="lgbackcolor">
                  <th class="paddinglr12">
                    <h3 class="tablelabel">Purchases</h3>
                  </th>
                  <th colspan="2" class="paddinglr12tb0">
                    <button *ngIf='!showAdd' (click)="showAddToggleTrue()" class="btn btn-success float-right">Add</button>
                    <button *ngIf='showAdd' (click)="addPurchase()" class="btn btn-success float-right">Submit</button>
                    <button *ngIf='showAdd' (click)="showAddToggleFalse()" class="btn btn-warning float-right marginr12">Cancel</button>
                  </th>
                </tr>
                <tr class="text-muted">
                  <th>Amount</th>
                  <th>Details</th>
                  <th>Category</th>
                </tr>
                <tr *ngIf='showAdd'>

                    <th class="paddingtop0">
                      <label class="sr-only" for="inlineFormInput">amount</label>
                      <input type="text" class="form-control-sm mt-0 mb-0 shrinkwidth" id="inlineFormInput" placeholder="0.00">
                    </th>

                    <th class="paddingtop0">
                      <label class="sr-only" for="inlineFormInput">notes</label>
                      <input type="text" class="form-control-sm mt-0 mb-0 width75" id="inlineFormInput" placeholder="items...">
                    </th>

                    <th class="paddingtop0">

                      <label class="sr-only" for="inlineFormCustomSelect">category</label>
                      <select class="form-control form-control-sm width75" id="inlineFormCustomSelect">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>

                    </th>

                </tr>
              </thead>
            <tbody>
              <tr *ngFor="let purchase of purchases">
                <td class="fontsherbert">${{purchase.amount}}</td>
                <td class="text-warning">{{purchase.notes}}</td>
                <td><a  class="text-info"[routerLink]="['/categories']">{{purchase.category.name}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
